/* BASE */

body {
    margin: 0;
    font-size: 16px;
    font-family: 'Merriweather', serif;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: white;
}



/* NAVBAR */

.nav {
    width: 80%;
    display: flex;
    margin: 0 10%;
    align-items: center;
    justify-content: space-between;
}

.nav__menu-hamburguer {
    cursor: pointer;
    width: 45px;
    padding-top: 15px;
}

.nav__menu {
    display: flex;
    padding: 4.5rem 0 0 2.5rem;
    flex-direction: column;
    color: white;
    font-size: 1.5rem;
    height: 0;
    width: fit-content;
    overflow: hidden;
    transition: 1.5s;
    font-family: 'Raleway', sans-serif;
    
}

.nav__titulo {
    font-family: 'Allerta Stencil', sans-serif;
    color: white;
}



/* BANNER */

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.178), rgba(255, 255, 255, 0.281)), url(../img/banner.png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}



/* ABOUT */

.about {
    width: 80%;
    margin: 15px auto;
    text-align: center;
    border: 7px #09548c double;
}

.about h3 {
    font-family: 'Raleway', sans-serif;
}

.about__content {
    width: 90%;
    margin: 0 auto;
}



/* FORM */

.search {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    padding: 20px;
}

.search__text {
    border-radius: 5px;
    padding: 10px;
}

.search__text:focus {
    border: 2px solid #09548c;
}

.search__button {
    background-color: white;
    border: none;
}

.search__button img {
    width: 30px;
}



/* CARD */


.card__container {
    width: 80%;
    margin: 15px auto;
    text-align: center;
    border: 7px #09548c double;    
}

.card__content {
    width: 90%;
    margin: 0 auto;
}


/* FOOTER */

.credits {
    background: linear-gradient(#2783bd, #09548c);
    width: 100%;
    text-align: center;
    font-size: 1.15rem;
    padding: 1.5rem 0;
    color: white;
    bottom: 0;
}

.credits a {
    color: white;
}



/* ANIMAÇÕES */

.fadeIn {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}